<!-- HDCA -->
<div id="hdca" class="bg-white">
  <div class="container ml-auto mr-auto py-5">
    <div class="col-lg-8 col-md-10 ml-auto mr-auto py-5">
      <div class="row mb-5">
        <div class="col-md-3 logo-container">
          <img src="{{ "/assets/images/hca-logo.png" | relative_url }}" alt="Human Cell Atlas">
        </div>
        <div class="col-md-9 text-container">
          <h3 class="header">Human Cell Atlas</h3>
          <h3 class="subheader">Developmental</h3>
          <p>The Human Developmental Cell Atlas (HDCA) aims to generate a comprehensive profile of these cell types and states present during development. This detailed study of development will be critical for understanding congenital and childhood disorders, as well as ageing.</p>
          <a href="https://www.humancellatlas.org/dca/" class="btn btn-pill btn-outline-primary">Read More</a>                  
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Section -->
<footer>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="https://haniffalab.com/">Haniffa Lab</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}{% link index.markdown %}#introduction">Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.humancellatlas.org/dca/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.humancellatlas.org/contact/">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</footer>
<!-- / Footer Section -->    