@charset "UTF-8";

body {
  font-family: Poppins,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #5A6169;
  background-color: #fff;
}

/* t-sne visualization */
#t-sne {
  will-change: transform;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 80px;
  width: 400px;
  height: 400px;
  z-index: 2;
  overflow: hidden;
}

@media (max-width: 768px) {
  #t-sne {
    top: 40px;
  }  
}

@media (max-width: 576px) {
  #t-sne {
    top: 20px;
  } 
}

/* welcome section */
.welcome {
  background: #fff;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.welcome h1 {
  font-size: 3.75rem;
  font-weight: 400;
  letter-spacing: 0rem;
  margin-top: 44vh;
  margin-bottom: 0px;
  color: #1f2429;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0px 0px 20px white,0px 0px 20px white,0px 0px 20px white,0px 0px 10px white,0px 0px 10px white;
}

.welcome h2 {
  font-size: 5.25rem;
  font-weight: 600;
  letter-spacing: 0;  
  margin-top: 0px;
  margin-bottom: 50px;  
  color: #1f2429;
  line-height: 0.9em; 
  text-transform: uppercase;
  transition-delay: 150ms;
  text-shadow: 0px 0px 20px white,0px 0px 20px white,0px 0px 20px white,0px 0px 10px white,0px 0px 10px white;
}

@media (max-width: 768px) {
  .welcome h1 {
    margin-top: 55vh;
    font-size: 2.50rem;
  }
  .welcome h2 {
    font-size: 3.40rem;
  } 
}

@media (max-width: 576px) {
  .welcome h1 {
    margin-top: 55vh;
    font-size: 2.00rem;
  }
  .welcome h2 {
    font-size: 2.50rem;
  } 
}

.welcome .inner-wrapper {
  position: relative;
  z-index: 3;
}

.welcome .inner-wrapper > p {
  margin-bottom: 20px;
  color: #5f738e;
  transition-delay: 150ms; 
}

.welcome .inner-wrapper > .action-links {
  transition-delay: 300ms;
}

.welcome .product-by {
  position: relative;
  z-index: 3;
  margin-bottom: 30px;
}

.welcome .product-by a:hover {
  text-decoration: none;
}

.welcome .product-by p {
  font-size: 10px;
  color: #b1b4bd;
  text-transform: uppercase;
  margin: 0;
}

.welcome .product-by img {
  max-width: 180px;
}

.welcome:before, .welcome:after {
  content: '';
  position: absolute;
  width: 50vw;
  height: 80vh;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  z-index: 1;
}

.welcome:before {
  left: -15vw;
  top: -30%;
  background: #fff;
  background: linear-gradient(to right, #e2e7ef 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e7ef', endColorstr='#ffffff', GradientType=1);
}

@media (max-width: 992px) {
  .welcome:before {
    left: -30%;
  }
}

@media (max-width: 768px) {
  .welcome:before {
    left: -35%;
  }
}

.welcome:after {
  right: -5vw;
  top: -15%;
  background: #ffffff;
  background: linear-gradient(to right, #ffffff 0%, #e2e7ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e7ef', GradientType=1);
}

@media (max-width: 992px) {
  .welcome:after {
    right: -17%;
  }
}

.slide-in {
  will-change: transform;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  transition: opacity 850ms cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 850ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 850ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 850ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 850ms cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 850ms cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 850ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.slide-in.visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

/* page content */
.page-content {
  position: relative;
  background: #fafafa;
  padding: 5.3125rem 0;
  min-height: 500px;
}

.page-content:before {
  content: '';
  height: 500px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(to bottom, #ffffff 0%, #fafafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa', GradientType=0);
}

.page-content .lead {
  margin-bottom: 0;
}

.page-content .content .table {
  background: #fff;
  box-shadow: 0 0 25px rgba(40, 47, 60, 0.05), 0 20px 25px rgba(40, 47, 60, 0.05), 0 3px 4px rgba(40, 47, 60, 0.05);
}

.page-content .content .table-striped tbody tr:nth-of-type(odd) {
  background-color: #f7f8fb;
}

.page-content .content .table td,
.page-content .content .table th {
  padding: 30px 25px;
}

.page-content .content .table th {
  padding: 15px 25px;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  color: #9ba4ae;
  border: none;
}

.page-content .content .table tbody td {
  font-size: 0.8125rem;
  vertical-align: middle;
}

.page-content .content .table tbody td h1,
.page-content .content .table tbody td h2,
.page-content .content .table tbody td h3,
.page-content .content .table tbody td h4,
.page-content .content .table tbody td h5,
.page-content .content .table tbody td h6,
.page-content .content .table tbody td p {
  margin: 0;
  line-height: 1;
}

.page-content .content .table tbody td p {
  font-size: 1rem !important;
}

/* responsive table */
.table {
  text-align: left;
  margin: 0 0 40px 0;
  width: 100%;
  display: table
}
@media screen and (max-width: 768px) {
  .table {
      display: block
  }
}
.table .row {
  display: table-row;
}
.table.row:nth-of-type(even) {
  background-color: #f7f8fb;
}
.table .row.header {
  font-weight: 900;
  color: #ffffff;
  /*background: #ea6153;*/
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1;
  color: #9ba4ae;
  border: none;
}
.table .row.header .cell {
  padding: 15px 25px;
  border-top: none;
}
.table .row.blue {
  background: #226fb3
}
@media screen and (max-width: 768px) {
  .table .row {
      display: block;
      margin: 0;
  }
  .table .row:nth-of-type(even) {
    background-color: #eff1f6;
  }
  .table .row.header {
      padding: 0;
      height: 6px;
      background: #226fb3;
  }
  .table .row.header .cell {
      display: none
  }
  .table .row .cell:before {
      margin-bottom: 3px;
      content: attr(data-title);
      min-width: 98px;
      font-size: 10px;
      line-height: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #969696;
      display: block
  }
  .table .cell[data-title="Dataset"],
  .table .cell[data-title="Collection"] {
    font-weight: 500
  }  
}
.table .cell {
  padding: 30px 25px;
  display: table-cell;
  font-size: 0.9em;
  border-top: 1px solid #dee2e6;
  vertical-align: top;
}
.table .cell .actions .btn {
  margin-top:5px; 
  padding: 0.2rem 0.45rem;
}
.table .cell .tags {
  margin: 5px 0;
}
@media screen and (max-width: 768px) {
  .table .cell {
      padding: 8px 18px;
      display: block
  }
}

/* breadcrumbs */
#breadcrumbs {
  color: #868e96;
}
#breadcrumbs .parent {
  font-weight:700;
  color:#226fb3;
}

/* description list */
dt {
  margin-bottom: 0.5rem;
}
dl {
  font-size: 90%;
}

/* bootstrap overrides */
.navbar.bg-dark {
  background-color: #15171a!important;
}
.btn-outline-primary {
  border-color: #226fb3;
  color: #226fb3;
}
.btn-outline-primary:hover {
  background-color: #226fb3;
  border-color: #226fb3;
}
.btn-primary {
  border-color: #226fb3;
  background-color: #226fb3;
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #226fb3;
  border-color: #226fb3;
}
.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 3px rgba(34,111,179,.15),0 3px 15px rgba(34,111,179,.2),0 2px 5px rgba(0,0,0,.1)!important;
}

/* hdca branding */
#hdca {
  border-top: 1px solid #ddd;
}
#hdca .logo-container {
  border-right: 2px solid #212529;
}
#hdca .logo-container img {
  width: 100%;
}
#hdca .text-container {
  padding: 10px 24px;
}
#hdca .text-container h3.header {
  font-weight: 500;
  font-size: 2.78rem;
  text-transform: uppercase;
  line-height: 0.78;
}
#hdca .text-container h3.subheader {
  font-weight: 600;
  font-size: 3.72rem;
  text-transform: uppercase;
  line-height: 0.78;
}
#hdca .text-container p {
  margin: 1.65rem 0;
}

@media (max-width: 1200px) {
  #hdca .text-container h3.header {
    font-size: 2.26rem;
  }
  #hdca .text-container h3.subheader {
    font-size: 3.02rem;
  }
  #hdca .text-container p {
    display: none;
  }  
  #hdca .text-container a {
    margin-top: 1.65rem;
  }  
}
@media (max-width: 768px) {
  #hdca {
    text-align: center;
  }  
  #hdca .logo-container {
    border: none;
    margin-bottom: 1.65rem;
  }
  #hdca .logo-container img {
    width: 192px;
  }  
  #hdca .text-container h3.header {
    font-size: 2.26rem;
  }
  #hdca .text-container h3.subheader {
    font-size: 3.02rem;
  } 
}
@media (max-width: 576px) {
  #hdca .text-container h3.header {
    font-size: 2.00rem;
  }
  #hdca .text-container h3.subheader {
    font-size: 2.50rem;
  } 
}


/* shard overrides */
.footer-cta {
  padding: 100px 0;
}
.main-footer a:hover {
  text-decoration: none;
}
.nowrap {
  white-space: nowrap;
}



