---
layout: default
---
<!-- t-SNE -->
<div id="t-sne"></div>
<!-- Welcome Section -->
<div class="welcome d-flex justify-content-center flex-column">
  <div class="inner-wrapper mt-auto mb-auto">
    <h1 class="slide-in">HUMAN CELL ATLAS</h1>
    <h2 class="slide-in">DEVELOPMENTAL</h2>
    <div class="action-links slide-in">
      <a href="#" data-scroll-to="#collections" id="scroll-to-content" class="btn btn-light btn-pill align-self-center">View Collections</a>
    </div>
  </div>
</div>
<!-- Page Content -->
<div class="page-content">
  <!-- Content -->
  <div class="content clearfix">
    <div id="introduction" class="container">
      <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto text-justify">
        <p class="lead">During development, controlled differentiation programmes give rise to a broad 
          repertoire of cells with highly specialised functions and tissue locations. The Human Developmental 
          Cell Atlas aims to generate a comprehensive profile of these cell types and states present 
          during development. This detailed study of development will be critical for understanding congenital 
          and childhood disorders, as well as ageing. Furthermore, since malignant cells exploit developmental 
          programmes for their survival and growth, a deeper understanding of development will have impact in 
          cancer research.</p>
      </div>
    </div>
    <!-- Collections -->
    <div id="collections" class="container pt-5 pb-5">
      <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto text-justify">
        <h3 class="mb-4">Data Collections</h3>
        <p>Collections display a curated set of datasets that contribute to a publication. Data can be
          visualised with interactive software, or downloaded for further interrogation.</p>
      </div>
    </div>
    <div id="collections" class="container-fluid pb-5">
      <div class="col-md-10 ml-auto mr-auto">
        <div class="table">
          <div class="row header">
            <div class="cell">
              Collection
            </div>
            <div class="cell">
              Tissue
            </div>
            <div class="cell">
              Assay
            </div>
            <div class="cell">
              Organism
            </div>
          </div>
          {% assign posts = site.posts | where: "listed", true %}
          {% for post in posts %}
          {% assign datasets_csv = post.permalink %}
          <div class="row">
            <div class="cell" data-title="Collection">
              <a class="row" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </div>
            <div class="cell nowrap" data-title="Tissue">
              {% assign tissues = "" | split: ',' %}
              {% for dataset in site.data[datasets_csv] %}
                {% assign list = dataset.tissue | split: "," %}
                {% for item in list %}
                  {% assign tissue = item | strip %}
                  {% assign tissues = tissues | push: tissue %}
                {% endfor %} 
              {% endfor %} 
              {% assign all_tissues = tissues | compact | uniq | sort %}
              {% for tissue in all_tissues %}
                {{ tissue }}<br />
              {% endfor %}  
            </div>
            <div class="cell nowrap" data-title="Assay">
              {% assign assays = "" | split: ',' %}
              {% for dataset in site.data[datasets_csv] %}
                {% assign list = dataset.assay | split: "," %}
                {% for item in list %}
                  {% assign assay = item | strip %}
                  {% assign assays = assays | push: assay %}
                {% endfor %} 
              {% endfor %} 
              {% assign all_assays = assays | compact | uniq | sort %}
              {% for assay in all_assays %}
                {{ assay }}<br />
              {% endfor %}
            </div>
            <div class="cell" data-title="Organism">
              {% assign organisms = "" | split: ',' %}
              {% for dataset in site.data[datasets_csv] %}
                {% assign list = dataset.organism | split: "," %}
                {% for item in list %}
                  {% assign organism = item | strip %}
                  {% assign organisms = organisms | push: organism %}
                {% endfor %} 
              {% endfor %} 
              {% assign all_organisms = organisms | compact | uniq | sort %}
              {% for organism in all_organisms %}
                {{ organism }}<br />
              {% endfor %}
            </div>
          </div>                                     
          {% endfor %}  
        </div>
      </div>
    </div>
  </div>
</div>
