---
layout: default
---
<!-- t-SNE -->
<div id="t-sne"></div>
<!-- Welcome Section -->
<div class="welcome d-flex justify-content-center flex-column">
  <div class="inner-wrapper mt-auto mb-auto">
    <h1 class="slide-in">HUMAN CELL ATLAS</h1>
    <h2 class="slide-in">DEVELOPMENTAL</h2>
    <div class="action-links slide-in">
      <a href="#" data-scroll-to="#introduction" id="scroll-to-content" class="btn btn-outline-light btn-pill align-self-center">View Collections</a>
    </div>
  </div>
</div>
<!-- Page Content -->
<div class="page-content">
  <!-- Content -->
  <div class="content clearfix">
    <div id="introduction" class="container mb-5">
      <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
        <p class="lead">A single cell atlas of the developing blood and immune system. Mauris interdum congue
          urna ut tincidunt. Sed ac magna gravida, volutpat leo et, mattis dui. Fusce ultricies dolor et turpis
          tristique, sed posuere leo ornare. Curabitur metus nibh, hendrerit non tristique sed</p>
      </div>
    </div>
    <!-- Collections -->
    <div id="collections" class="container mb-5">
      <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
        <h3 class="mb-4">Collections</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a egestas est, nec tempus dui. In ligula ligula, 
          tempus id nisl et, posuere lobortis orci. Morbi eget tortor et odio.</p>
      </div>
      <div class="example col-md-10 ml-auto mr-auto">
        <div class="table">
          <div class="row header">
            <div class="cell">
              Collection
            </div>
            <div class="cell">
              Tissue
            </div>
            <div class="cell">
              Assay
            </div>
            <div class="cell">
              Disease
            </div>
            <div class="cell">
              Organism
            </div>
          </div>
          {% for post in site.posts %}
          <div class="row">
            <div class="cell" data-title="Collection">
              <a class="row" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </div>
            <div class="cell" data-title="Tissue">
              {{ post.tissue }}
            </div>
            <div class="cell" data-title="Assay">
              {{ post.assay }}
            </div>
            <div class="cell" data-title="Disease">
              {{ post.disease }}
            </div>
            <div class="cell" data-title="Organism">
              {{ post.organism }}
            </div>
          </div>                                     
          {% endfor %}  
          </div>
      </div>
    </div>
  </div>
  <!-- HDCA -->
  <div id="hdca" class="bg-white">
    <div class="container ml-auto mr-auto py-5">
      <div class="col-lg-8 col-md-10 ml-auto mr-auto py-5">
        <div class="row mb-5">
          <div class="col-md-3 logo-container">
            <img src="{{ "/assets/images/hca-logo.png" | relative_url }}" alt="Human Cell Atlas">
          </div>
          <div class="col-md-9 text-container">
            <h3 class="header">Human Cell Atlas</h3>
            <h3 class="subheader">Developmental</h3>
            <p>The Human Developmental Cell Atlas (HDCA) aims to generate a comprehensive profile of these cell types and states present during development. This detailed study of development will be critical for understanding congenital and childhood disorders, as well as ageing.</p>
            <a href="https://www.humancellatlas.org/dca/">
              <button class="btn btn-pill btn-outline-primary">
                Read More</button>
            </a>                  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
