---
layout: default
---
<!-- Page Content -->
<div class="page-content">
  <!-- Content -->
  <div class="content clearfix">
    <div id="breadcrumbs" class="container mb-5">
      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
        <p><a href="{{ site.baseurl }}{% link index.markdown %}#collections" class="parent">Collections</a> &#187; {{page.title}}</p>
      </div>
    </div>
    <!-- Collection -->
    <div id="collection" class="container mb-5">
      <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
        <h3 class="mb-4">{{ page.title }}</h3>
        {{ content }}
      </div>
      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <dl class="row">
                  <dt class="col-sm-4">Contact</dt>
                  <dd class="col-sm-8"><a href="mailto:{{ page.contact_email | encode_email }}">{{ page.contact }}</a></dd>
                
                  <dt class="col-sm-4">DOI</dt>
                  <dd class="col-sm-8"><a href="{{ page.doi_link }}">{{ page.doi }}</a></dd>

                  <dt class="col-sm-4">Release</dt>
                  <dd class="col-sm-8">{{ page.date | date: "%-d %B %Y"}}</dd>
                  
                  <dt class="col-sm-4">Lab</dt>
                  <dd class="col-sm-8"><a href="{{ page.lab_website }}">{{ page.lab }}</a></dd>
                </dl>
              </div>
              <div class="col-md-6">
                <dl class="row">
                  {% assign datasets_csv = page.permalink %}
                  <dt class="col-sm-4">Tissue</dt>
                  <dd class="col-sm-8">
                    {% assign tissues = "" | split: ',' %}
                    {% for dataset in site.data[datasets_csv] %}
                      {% assign tissues = tissues | push: dataset.tissue %}
                    {% endfor %} 
                    {% assign all_tissues = tissues | compact | uniq %}
                    {{ all_tissues | join: ", " }}
                  </dd>
                
                  <dt class="col-sm-4 text-truncate">Assay</dt>
                  <dd class="col-sm-8">
                    {% assign assays = "" | split: ',' %}
                    {% for dataset in site.data[datasets_csv] %}
                      {% assign assays = assays | push: dataset.assay %}
                    {% endfor %} 
                    {% assign all_assays = assays | compact | uniq %}
                    {{ all_assays | join: ", " }}
                  </dd>
                
                  <dt class="col-sm-4">Disease</dt>
                  <dd class="col-sm-8">
                    {% assign diseases = "" | split: ',' %}
                    {% for dataset in site.data[datasets_csv] %}
                      {% assign diseases = diseases | push: dataset.disease %}
                    {% endfor %} 
                    {% assign all_diseases = diseases | compact | uniq %}
                    {{ all_diseases | join: ", " }}
                  </dd>
                  
                  <dt class="col-sm-4">Organism</dt>
                  <dd class="col-sm-8">
                    {% assign organisms = "" | split: ',' %}
                    {% for dataset in site.data[datasets_csv] %}
                      {% assign organisms = organisms | push: dataset.organism %}
                    {% endfor %} 
                    {% assign all_organisms = organisms | compact | uniq %}
                    {{ all_organisms | join: ", " }}
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
        <h3 class="mb-4">Datasets</h3>
      </div>
      <div class="col-md-10 ml-auto mr-auto">
        <div class="table">
          <div class="row header">
            <div class="cell">
              Dataset
            </div>
            <div class="cell">
              Tissue
            </div>
            <div class="cell">
              Assay
            </div>
            <div class="cell">
              Disease
            </div>
            <div class="cell">
              Organism
            </div>
            <div class="cell">
              Cell Count
            </div>
          </div>
          {% assign datasets_csv = page.permalink %}
          {% for dataset in site.data[datasets_csv] %}
          <div class="row">
            <div class="cell" data-title="Dataset">
              {{ dataset.name }}
              <div class="actions">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark btn-squared btn-sm" data-toggle="modal" data-target="#DatasetModal{{ forloop.index }}">
                  <i class="fas fa-bars"></i>
                </button>               
                {% if dataset.insight_link %}
                  <a href="{{ dataset.insight_link }}" class="btn btn-dark btn-squared btn-sm" target="_blank"><i class="fas fa-book-open"></i>&nbsp;&nbsp;Insights</a>
                {% endif %}                
                {% if dataset.cellxgene_link %}
                  <a href="{{ dataset.cellxgene_link }}" class="btn btn-dark btn-squared btn-sm" target="_blank"><i class="fas fa-book-open"></i>&nbsp;&nbsp;cellxgene</a>
                {% endif %}
              </div>
            </div>
            <div class="cell nowrap" data-title="Tissue">
              {{ dataset.tissue }}
            </div>
            <div class="cell nowrap" data-title="Assay">
              {{ dataset.assay }}
            </div>
            <div class="cell" data-title="Disease">
              {{ dataset.disease }}
            </div>
            <div class="cell" data-title="Organism">
              {{ dataset.organism }}
            </div>
            <div class="cell" data-title="Cell Count">
              {{ dataset.count }}
            </div> 
          </div>               
          {% endfor %} 
        </div>
      </div>
      <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
        <h3 class="mb-4">Reproducibility</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a egestas est, nec tempus dui. In ligula ligula, 
          tempus id nisl et, posuere lobortis orci. Morbi eget tortor et odio.</p>
      </div>
      <div class="col-lg-8 col-md-10 ml-auto mr-auto">
        <div class="row mb-5">
          <div class="col-md-12">
            <dl class="row">
              {% if page.raw_data_link %}
                <dt class="col-sm-4">Raw Data</dt>
                <dd class="col-sm-8 text-truncate"><a href="{{ page.raw_data_link }}" target="_blank">{{ page.raw_data_link }}</a></dd>
              {% endif %}

              {% if page.code_repository_link %}
                <dt class="col-sm-4">Code Repository</dt>
                <dd class="col-sm-8 text-truncate"><a href="{{ page.code_repository_link }}" target="_blank">{{ page.code_repository_link }}</a></dd>
              {% endif %}

              {% if page.reproducibility_link %}
                <dt class="col-sm-4">Reproducibility</dt>
                <dd class="col-sm-8 text-truncate"><a href="{{ page.reproducibility_link }}" target="_blank">{{ page.reproducibility_link }}</a></dd>
              {% endif %}
            </dl>
          </div>
        </div>
      </div>      
    </div>
  </div>
</div>

{% for dataset in site.data[datasets_csv] %}
<div class="modal fade" id="DatasetModal{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="DatasetModal{{ forloop.index }}Title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{ dataset.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ dataset.description }}
        {% assign tags = dataset.tags | split: ',' %}
        {% if tags %}
          <div class="tags">
          {% for tag in tags %}
            <span class="badge badge-info">{{ tag }}</span>
          {% endfor %}
          </div>
        {% endif %}  
        <h5 class="text-muted mb-4">About the dataset</h5>
        <dl class="row">
          <dt class="col-sm-4">Tissue</dt>
          <dd class="col-sm-8">
            {{ dataset.tissue }}
          </dd>
        
          <dt class="col-sm-4 text-truncate">Assay</dt>
          <dd class="col-sm-8">
            {{ dataset.assay }}
          </dd>
        
          <dt class="col-sm-4">Disease</dt>
          <dd class="col-sm-8">
            {{ dataset.disease }}
          </dd>
          
          <dt class="col-sm-4">Organism</dt>
          <dd class="col-sm-8">
            {{ dataset.organism }}
          </dd>

          <dt class="col-sm-4">Cell Count</dt>
          <dd class="col-sm-8">
            {{ dataset.count }}
          </dd>                   
        </dl>
        <h5 class="text-muted mb-4">Apps for data exploration</h5>
        <dl class="row">
          {% if dataset.insight_link %}
          <dt class="col-sm-4">Insights</dt>
          <dd class="col-sm-8">
            <a href="{{ dataset.insight_link }}" class="btn btn-dark btn-squared btn-sm" target="_blank"><i class="fas fa-book-open"></i>&nbsp;&nbsp;Insights</a>
          </dd>
          {% endif %}  

          {% if dataset.cellxgene_link %}
          <dt class="col-sm-4">Cellxgene</dt>
          <dd class="col-sm-8">
            <a href="{{ dataset.cellxgene_link }}" class="btn btn-dark btn-squared btn-sm" target="_blank"><i class="fas fa-book-open"></i>&nbsp;&nbsp;cellxgene</a>
          </dd>          
          {% endif %}      

          {% if dataset.vitescce_link %}
          <dt class="col-sm-4">Vitescce</dt>
          <dd class="col-sm-8">
            <a href="{{ dataset.vitescce_link }}" class="btn btn-dark btn-squared btn-sm" target="_blank"><i class="fas fa-book-open"></i>&nbsp;&nbsp;Vitescce</a>
          </dd>      
          {% endif %}                  
        </dl>  

        <h5 class="text-muted mb-4">Downloads and resources</h5>
        <table class="table table-sm table-hover">
          <tbody>
            {% if dataset.h5ad_object_link %}
            <tr>
              <td>H5AD file <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="" 
                data-original-title="AnnData is a commonly used Python package for keeping track of data and learned annotations, and can 
                be used to read from and write to the h5ad file format"></i></td>
              <td>0</td>
              <td>
                <a href="{{ dataset.h5ad_object_link }}" class="btn btn-dark btn-squared btn-sm float-right" target="_blank"><i class="fas fa-download"></i>&nbsp;&nbsp;Download</a>
              </td>
            </tr>   
            {% endif %}            
            {% if dataset.scvi_model_link %}
            <tr>
              <td>scVI model <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="" 
                data-original-title="AnnData is a commonly used Python package for keeping track of data and learned annotations, and can 
                be used to read from and write to the h5ad file format"></i></td>
              <td>0</td>
              <td>
                <a href="{{ dataset.scvi_model_link }}" class="btn btn-dark btn-squared btn-sm float-right" target="_blank"><i class="fas fa-download"></i>&nbsp;&nbsp;Download</a>
              </td>
            </tr>   
            {% endif %}
            {% if dataset.celltypist_model_link %}
            <tr>
              <td>Celltypist model <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="" 
                data-original-title="AnnData is a commonly used Python package for keeping track of data and learned annotations, and can 
                be used to read from and write to the h5ad file format"></i></td>
              <td>0</td>
              <td>
                <a href="{{ dataset.celltypist_model_link }}" class="btn btn-dark btn-squared btn-sm float-right" target="_blank"><i class="fas fa-download"></i>&nbsp;&nbsp;Download</a>
              </td>
            </tr>     
            {% endif %}   
            {% if dataset.csv_cell_annotations_link %}
            <tr>
              <td>CSV cell annotations <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="" 
                data-original-title="AnnData is a commonly used Python package for keeping track of data and learned annotations, and can 
                be used to read from and write to the h5ad file format"></i></td>
              <td>0</td>
              <td>
                <a href="{{ dataset.csv_cell_annotations_link }}" class="btn btn-dark btn-squared btn-sm float-right" target="_blank"><i class="fas fa-download"></i>&nbsp;&nbsp;Download</a>
              </td>
            </tr>    
            {% endif %}                      
          </tbody>
        </table>      
        <dl class="row">







                   
        </dl>                
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>             
{% endfor %} 


