---
layout: default
---

<!-- Page Content -->
<div class="page-content">
  <!-- Content -->
  <div class="content clearfix">
    <div id="introduction" class="container mb-5">
      <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
        <p class="lead"><a href="{{ site.baseurl }}{% link index.markdown %}#introduction">Collections</a> &#187; {{page.title}}</p>
      </div>
    </div>
    <!-- Collections -->
    <div id="collections" class="container mb-5">
      <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
        <h3 class="mb-4">{{page.title}}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a egestas est, nec tempus dui. In ligula ligula, 
          tempus id nisl et, posuere lobortis orci. Morbi eget tortor et odio.</p>
      </div>
      <div class="example col-lg-8 col-md-10 ml-auto mr-auto">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="row">
              <div class="form-group col-md-6">
                <dl class="row">
                  <dt class="col-sm-3">Release date</dt>
                  <dd class="col-sm-9">A description list is perfect for defining terms.</dd>
                
                  <dt class="col-sm-3">Contact</dt>
                  <dd class="col-sm-9">A description list is perfect for defining terms.</dd>
                
                
                  <dt class="col-sm-3">DOI</dt>
                  <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>
                </dl>
              </div>
              <div class="form-group col-md-6">
                <dl class="row">
                  <dt class="col-sm-3">Malesuada porta</dt>
                  <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>
                
                  <dt class="col-sm-3 text-truncate">Truncated term is truncated</dt>
                  <dd class="col-sm-9">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                
                  <dt class="col-sm-3">Description lists</dt>
                  <dd class="col-sm-9">A description list is perfect for defining terms.</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
     </div>
      <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
        <h3 class="mb-4">Datasets</h3>
      </div>
      <div class="example col-md-10 ml-auto mr-auto">
        <div class="table">
          <div class="row header">
            <div class="cell">
              Dataset
            </div>
            <div class="cell">
              Tissue
            </div>
            <div class="cell">
              Assay
            </div>
            <div class="cell">
              Disease
            </div>
            <div class="cell">
              Organism
            </div>
            <div class="cell">
              Cell Count
            </div>
          </div>
          {% for post in site.posts %}
          <div class="row">
            <div class="cell" data-title="Dataset">
              {{ post.title }}
              <div class="open-with">
                <a href="" class="btn btn-dark btn-squared btn-sm "><i class="fas fa-book-open"></i>&nbsp;&nbsp;Insights</a>
                <a href="" class="btn btn-dark btn-squared btn-sm "><i class="fas fa-book-open"></i>&nbsp;&nbsp;cellxgene</a>
                <a href="" class="btn btn-dark btn-squared btn-sm "><i class="fas fa-book-open"></i>&nbsp;&nbsp;Vitescce</a>
              </div>
            </div>
            <div class="cell" data-title="Tissue">
              Fetal Liver
            </div>
            <div class="cell" data-title="Assay">
              10x 3' v2  
            </div>
            <div class="cell" data-title="Disease">
              None
            </div>
            <div class="cell" data-title="Organism">
              Homo sapiens
            </div>
            <div class="cell" data-title="Organism">
              481120	
            </div> 
          </div>                                     
          {% endfor %}  
          </div>
      </div>
    </div>
  </div>
  <!-- Documentation -->
  <div id="documentation" class="bg-white">
    <div class="section-title container ml-auto mr-auto py-5">
      <div class="col-lg-8 col-md-10 ml-auto mr-auto py-5">
        <div class="row mb-5">
          <div class="col-md-12">
            <div class="row">
              <div class="hca-logo-container col-md-3">
                <img src="{{ "/assets/images/hca-logo.png" | relative_url }}" alt="Human Cell Atlas" width="100%">
              </div>
              <div class="form-group col-md-9">
                <h3 class="hca-logo-header">Human Cell Atlas</h3>
                <h3 class="hca-logo-subheader">Developmental</h3>
                <p class="hca-logo-text">The Human Developmental Cell Atlas (HDCA) aims to generate a comprehensive profile of these cell types and states present during development. This detailed study of development will be critical for understanding congenital and childhood disorders, as well as ageing.</p>
                <a class="hca-logo-button d-table" href="https://www.humancellatlas.org/dca/">
                  <button class="btn btn-pill btn-outline-primary">
                    Read More</button>
                </a>                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
